.main_slider_wrapper {
  width: 100%;
}
.sld_bg {
  width: 100%;
  img {
    width: 100%;
    max-width: 100%;
  }
}
.dropdown.drop_active > ul {
  display: none;
}
.location_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.location_link {
  h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    color: #30304e;
  }
  a {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #6f6f8a;
    margin-left: 10px;
  }
}
.price_sale {
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: #8f8fa8;
    margin-bottom: 0;
  }
  span {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: #30304e;
  }
}
// =============main========
.property_wrap {
  width: 100%;
  margin: 40px 0;
  display: flex;
}
.left_property {
  width: 66%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  padding: 0 30px 15px 30px;
}
.main_left {
  width: 100%;
}
.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #f3f3f3;
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #6f6f8a;
    span {
      color: #30304e;
    }
  }
}
.column_middle.register_info {
  display: flex;
  align-items: flex-end;
  border: none;
  padding: 0;
  .row {
    padding-right: 30px;
    border: none;
    p {
      font-size: 14px;
    }
    span {
      font-size: 16px;
    }
  }
}
.right_property {
  width: 34%;
}
.decription {
  .descrpitH {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #30304e;
  }
  p {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    color: #6f6f8a;
  }
}
.feautures{
  margin-left: -30px;
  margin-right: -30px;
  h4{
    padding-left: 30px;
  }
}
.home_list {
  width: 100%;
  display: flex;
  padding: inherit;
  ul {
    width: 33.3%;
    
   li{
     span{
       padding-left: 30px;
     }
    &:nth-child(2n){
      background: #f3f3f3;
      display: block;
    }
   }
    img {
      width: 18px;
    }
    p {
      display: inline-block;
      font-size: 15px;
      font-weight: 400;
      color: #30304e;
      margin-left: 10px;
    }
  }
}
.right_property{
  width: 34%;
  margin:  0 0 0 30px;

}
.main_right{
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);      
  
}
.client{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 35px ;
  overflow: hidden;
}
.client_wrapper{
  width: 100%;
}
.client_name{
  padding-top: 10px;
  span{
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    color: #6f6f8a;
  }
  h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #30304e;
    margin-top: 0;
  }
}
.client_data{
  li{
    padding: 10px 0;
    width: 100%;
    &:nth-child(odd){
      background-color:  #f3f3f3;
    }
  }
  p{
    color: #6f6f8a;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    span{
      color: #30304e;
    }
  }
}
.change_page{
  a{
    font-weight: 500;
    background-color: #8AD144;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    display: inline-block;
    margin: 25px 0;
  }
}
.house_right{
  width: 100%;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);  
  margin-top: 20px;    
  
}
.home_element.house_r{
  width: 100%;
  padding: 0;

}
.column_middle{
  display: flex;
  align-items: flex-end;
}